#-----------------------------------------------------------------------
# This is the Caldb configuration file which stores the locations of the
# Calibration Index Files of the Calibration Database.  This file may
# need to be edited when installing a new Caldb. 
#
#          +---------------------------------+
#          |                                 |
#          |    XTE FITS Database Version    | 
#          |                                 |
#          +---------------------------------+
#
#
#                      FORMAT OF THIS FILE
#
# Comment lines begin with a '#' character.  All other lines associate a
# given mission and instrument with an Index File and a calibration
# storage directory.
#
# Each non-comment line has seven tokens.  The first two tokens are the
# mission and instrument (these tokens must be entirely in uppercse); 
# the remaining tokens describe the location of the index file and the 
# calibration storage directory in a system independent manner.  Tokens
# 3, 4, and 5 are the device (can also be an environment variable), 
# directory (subdirectories are separated by '/' characters), and file 
# name of the Calibration index file.  Tokens 6 and 7 are the device and
# directory of the calibration storage directory.
#
# For example, a typical line in this file might look like:
#
# HOSR HOSEHD caldb data/hosr/hosehd caldb.indx caldb data/hosr/hosehd
#
# If this file were read on a UNIX machine, then this line would 
# indicate that data for the instrument HOSEHD, of the mission HOSR will 
# be indexed in the file 
#
# /caldb/data/hosr/hosehd/caldb.indx
#
# and the calibration files for this instrument will be located beneath
# the directory
#
# /caldb/data/hosr/hosehd
#
# If this file were read on a VMS machine, then this line would indicate
# that the data for the instrument HOSEHD, of the mission HOSR will be
# indexed in the file
#
# CALDB:[DATA.HOSR.HOSEHD]CALDB.INDX
#
# and the calibration files for this instrument will be located beneath
# the directory
#
# CALDB:[DATA.HOSR.HOSEHD]
#
# Note that on UNIX machines it is possible for the third and sixth
# tokens to be the name of environment variables.  If this is the case
# then the value of the environment variables will be substituted for
# that token.  Using the example above, if the third and sixth tokens
# were 'CALDB' instead of 'caldb' and if the environment variable 
# 'CALDB' were set to /my/home/directory, then the index file would be
# represented as
#
# /my/home/directory/data/hosr/hosehd/caldb.indx
#
# and the storage directory would be
#
# /my/home/directory/data/hosr/hosehd
#
# Data begins after this line...
#-----------------------------------------------------------------------
#
# MISSION INDEPENDENT (GENERAL)
#GEN INS CALDB data/gen caldb.indx CALDB data/gen
# XTE
XTE  PCA     CALDB pca      caldb.indx CALDB pca
XTE  HEXTE   CALDB hexte    caldb.indx CALDB hexte
XTE  ASM     CALDB asm      caldb.indx CALDB asm
